<p>
  <b>タイトル：<%= @article.title %></b>
</p>

<p>
  <b>本文：<%= @article.body %></b>
</p>

<p>
    <%= link_to "編集", edit_article_path(@article) %>
</p>

<p>
    <%= link_to "論文へ戻る", articles_path %>
</p>

<p>
    <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: '削除してよろしいですか？'} %>
</p>